
/* Navbar and header css */

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
}

.nav-menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15rem;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

/*  Carousel css -> this css fixes the differnt images sizes issue*/

.carousel-inner{
    height: 0;
    padding-bottom: 50%; 
}

.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

/* Menu and Hours css */
.column-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.btn{
    border-radius: 0;
}

.menu-img{
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.bullets{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.list-item{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Review and Ratings css */
.review-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

.review-p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
}

/* Contact Us css */
.contact-number{
    margin-top: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: right;
}

.socials{
    list-style-type: none;
    display: flex;
    justify-content: left;
    
}

.icon{
    padding-left: 6px;
    padding-right: 6px;
}

/*  Footer css */
.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    
}

/*  menu in menu tab */
.menu-body{
    background-color: black;
}

.main-menu, .main-form{
    margin-top: 100px;
}

.menu-container{
    background-image: url(./images/menu-background.jpg);
    border-radius: 5px;
}

.menu-title, .menu-heading{
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu-item-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu-item-description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

/*  Order form css */
.form-heading, .form-pick-items{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

